<<<<<<< HEAD
.arrow-right {
    width: 100px; 
    height: 100px; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid rgb(255, 255, 255);
}
=======
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
>>>>>>> 28bf975d1da0cfaffa354641f5cc9221af8b93c0
