<<<<<<< Updated upstream
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
=======
div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
>>>>>>> Stashed changes
