.button1 {
    background-color: #fdfdfd;
    border: none;
    color: rgb(0, 0, 0);
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 100px;
    bottom: 150px;
  }
  .button2{
    background-color: #fdfdfd;
    border: none;
    color: rgb(0, 0, 0);
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 150px;
    bottom: 100px;
  }
  
  body{
    background-image: url(img/img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

img{


  height: 200px; width: 200px;
}
